<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link th:replace="~{/fragments/head :: style_resources}">

    <title th:text="${selectedMovie}"></title>
</head>
<body>

    <nav th:replace="~{/fragments/navbar :: navbar('movies')}"></nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col">

                <h1>Hai selezionato: </h1>
                <h2 th:text="|Titolo: ${selectedMovie.getTitle()}, ID: ${selectedMovie.getId}|"></h2>

            </div>
        </div>
    </div>

    <script th:replace="~{/fragments/script :: script}"></script>

</body>
</html>